# Profile config file for profile: "DefaultProfile"

# Note: all blank lines and lines beginning with '#' are ignored
# Values after the colons may be modified, values before the
# colons are keyphrases and should be kept as-is.

# Loot filter file locations
Download directory: FiltersDownload
Input (backup) loot filter directory: FiltersInput
Path of Exile directory: FiltersPathOfExile
Downloaded loot filter filename: NeversinkRegular.filter
Output (Path of Exile) loot filter filename: DynamicLootFilter.filter

# Remove filter from downloads directory when importing?
# Filter will still be saved in Input directory even if this is True
Remove downloaded filter: False

# Loot filter options
Hide maps below tier: 0
Add chaos recipe rules: True
Chaos recipe weapon classes, any height: Daggers, Rune Daggers, Wands
Chaos recipe weapon classes, max height 3: Bows
