# Profile config file for profile: "TestProfile"

# Loot filter file locations
Download directory: FiltersDownload
Input (backup) loot filter directory: FiltersInput
Path of Exile directory: FiltersPathOfExile
Downloaded loot filter filename: NeversinkSemiStrict.filter
Output (Path of Exile) loot filter filename: TestDynamicLootFilter.filter

# Remove filter from downloads directory when importing?
# Filter will still be saved in Input directory even if this is True
Remove downloaded filter: True

# Loot filter options
Chaos recipe weapon classes, any height: Daggers, Rune Daggers, Wands
Chaos recipe weapon classes, max height 3: Bows
